/readFeed/.vs/readFeed/v15/.suo
/readFeed/.vs/readFeed/v15/Server/sqlite3/db.lock
/readFeed/.vs/readFeed/v15/Server/sqlite3/storage.ide
/readFeed/.vs/readFeed/v15/Server/sqlite3/storage.ide-shm
/readFeed/.vs/readFeed/v15/Server/sqlite3/storage.ide-wal
/readFeed/readFeed/bin/Debug/netcoreapp2.1/readFeed.deps.json
/readFeed/readFeed/bin/Debug/netcoreapp2.1/readFeed.dll
/readFeed/readFeed/bin/Debug/netcoreapp2.1/readFeed.pdb
/readFeed/readFeed/bin/Debug/netcoreapp2.1/readFeed.runtimeconfig.dev.json
/readFeed/readFeed/bin/Debug/netcoreapp2.1/readFeed.runtimeconfig.json
/readFeed/readFeed/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/readFeed/readFeed/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/readFeed/readFeed/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/readFeed/readFeed/obj/Debug/netcoreapp2.1/readFeed.AssemblyInfo.cs
/readFeed/readFeed/obj/Debug/netcoreapp2.1/readFeed.AssemblyInfoInputs.cache
/readFeed/readFeed/obj/Debug/netcoreapp2.1/readFeed.assets.cache
/readFeed/readFeed/obj/Debug/netcoreapp2.1/readFeed.csproj.CoreCompileInputs.cache
/readFeed/readFeed/obj/Debug/netcoreapp2.1/readFeed.csproj.FileListAbsolute.txt
/readFeed/readFeed/obj/Debug/netcoreapp2.1/readFeed.csprojAssemblyReference.cache
/readFeed/readFeed/obj/Debug/netcoreapp2.1/readFeed.dll
/readFeed/readFeed/obj/Debug/netcoreapp2.1/readFeed.pdb
/readFeed/readFeed/obj/project.assets.json
/readFeed/readFeed/obj/readFeed.csproj.nuget.cache
/readFeed/readFeed/obj/readFeed.csproj.nuget.g.props
/readFeed/readFeed/obj/readFeed.csproj.nuget.g.targets
